#onpage {
  text-decoration: underline white 3px;
}
sup {
  z-index: -10;
}
#rome_body{
  padding-top: 90px;
}
.sticky-shrinknav-header {
  z-index: 20;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+27,207cca+75,7db9e8+100 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 27%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.about_top {
  padding-top: 5%;
  text-align: center;
}
.flexible-article-images-container{
  margin: 0 2%; 
}
.caption {
  opacity: 0;
}
.about_bottom {
  font-style: italic;
  padding-top: 3%;
  font-size: 14px;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}
.timeline {
  background-color: #708090;
  margin-top: 0;
  margin: 0 0;
  width: 100%
}
.rome_top1 {
  text-align: Center;
  background-color: #708090;
  color: white;
  opacity: 0;
}

.rome_top2 {
  text-align: Center;
  background-color: #708090;
  color: white;
  opacity: 1
}
.bolding{
  font-weight: 800;
  color: Black;
}
#left {
  text-align: left;
}
.underline {
  text-decoration: underline;
}
.testimonial-block-vertical {
  margin: 5% 2% 5% 2%;
}
.testimonial-block-vertical-quote {
  border-radius: 30px;
}
.pay {
  color: white;
  background-color: red;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px !important;
}
.pay:hover, pay:focus {
  background-color: yellow;
  color: black !important;
}
.board {
  color: white;
  background-color: #2989d8;
  margin: 0;
}
.img-size {
  width: 150px;
  float: left;
  margin-right: 8px;
}

@media screen and (min-width: 640px) {
  h1 {
    margin-top: 6%;
  }
  h2 {
    font-size: 40px;
    font-weight: 400;
  }
  .sticky-shrinknav-header {
    height: 220px;
  }
  body {
    padding-top: 190px;
  }
  #rome_body{
    padding-top: 190px;
  }
  .caption {
    opacity: 1;
  }
  .flexible-article-images-container {
    margin: 0 8%;
  }
  .fixed {
    float: left;
    text-align: center;
    clear: both;
  }
  .clear {
    clear:both;
  }
  .hide-for-small-only {
  }
  .rome_top1 {
    opacity: 1;
    padding-top: 4%;
  }
  .rome_top2 {
    opacity: 0;
  }
  .callout {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 830px) {
  h1 {
    margin-top: 5%;
  }
  .rome_top1 {
    opacity: 1;
    padding-top: 3%;
  }
  .testimonial-block-vertical {
    width: 800px;
    margin: 3% auto;
  }
  .testimonial-block-vertical-quote {
    width: 600px;
  }
  .callout {
    width: 830px;
    margin: 0 auto 16px auto;
  }
  .board {
    width: 830px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1034px) {
  h1 {
    margin-top: 0%;
  }
  .sticky-shrinknav-header {
    height: 150px;
  }  
    body {
    padding-top: 140px;
  }
  #rome_body{
    padding-top: 140px;
  }
  .about_top {
    padding-top: 2%;
  }
  .flexible-article-images-container {
    margin: 0 15%;
  }
  .rome_top1 {
    padding-top: 1%;
  }
  .callout {
    width: 1034px;
  }
  .board {
    width: 1034px;
  }
}

footer {
  clear: both;
}



